<div class="zs-table table">

	<zs-table-header
		columns="zsTable.columns()"
		on-column-click="zsTable.handleColumnClick($columnId)"
		class="table-row"
	>
	</zs-table-header>

	

	<zs-table-body
		data-rows="zsTable.rows()"
		data-columns="zsTable.columns()"
		class="table-body"
		on-row-click="zsTable.onRowClick({ $item: $item })"
		use-href="zsTable.useHref()"
	/>

</div>

<div class="zs-table-empty" ng-show="!zsTable.rows().length">
	Geen resultaten
</div>
