<div class="form" >
    <form action="[% c.uri_for('/documenten/' _ (document.id || 0) _ '/notitie/bewerken') %]" method="POST" name="notitie_form">
        <input type="hidden" name="confirmed" value="1" />
        <table class="contactmoment_aanmaken">
            <tbody>
[% UNLESS document %]
                <tr>
                    <td class="td130 td-label">
                        <span>Contactkanaal</span>
                    </td>
                    <td>
                        <select name="contactkanaal" class="contactkanaal replace-select-start-zaak">
                            [% FOREACH contactkanaal IN ZCONSTANTS.contactkanalen %]
                                <option
                                value="[% contactkanaal %]"
                                > [% contactkanaal | ucfirst %]</option>
                            [% END %]
                        </select>
                    </td>
                    <td class="td260">
                        <div class="validator rounded">
                            <div class="validate-tip"></div>
                            <div class="validate-content rounded-right">
                                <span></span>
                            </div>
                        </div>
                        <div style="display: none;" class="tooltip-test-wrap">
                            <div class="tooltip-test rounded">
                                Selecteer het contactkanaal van deze zaak.
                                <a class="icon_close"></a>
                            </div>
                            <div class="tooltip-test-tip"></div>
                        </div>
                    </td>
                </tr>


              [% PROCESS widgets/search_contact.tt 
                type_label = 'Contacttype' 
                text_value = c.req.params.betrokkene_naam
                id_value = c.req.params.betrokkene_id
                label = 'Contact'
                ezra_id = 'ezra_id_contact'
                input_name = 'ztc_aanvrager_id'
                selector_input = 'betrokkene_type'
               %]



[% END %]
                <tr>
                    <td class="td130 td-label">
                        <span>Zaak</span>
                    </td>
                    <td>
                        <input
                        type="text"
                        name="zaak_id"
                        value="[% c.req.params.zaak_id %]" />
                    </td>
                    <td class="td260">
                        <div class="validator rounded">
                            <div class="validate-tip"></div>
                            <div class="validate-content rounded-right">
                                <span></span>
                            </div>
                        </div>
                        <div style="display: none;" class="tooltip-test-wrap">
                            <div class="tooltip-test rounded">
                                Noteer het zaaknummer wanneer deze bij de
                                betrokkene bekend is.
                                <a class="icon_close"></a>
                            </div>
                            <div class="tooltip-test-tip"></div>
                        </div>
                    </td>
                </tr>
[% UNLESS document %]
                <tr>
                    <td class="td130 td-label">
                        <span>Samenvatting</span>
                    </td>
                    <td>
                        <textarea name="bericht" class="bericht_of_onderwerp normal" /></textarea>
                    </td>
                    <td class="td260">
                        <div class="validator rounded">
                            <div class="validate-tip"></div>
                            <div class="validate-content rounded-right">
                                <span></span>
                            </div>
                        </div>
                        <div style="display: none;" class="tooltip-test-wrap">
                            <div class="tooltip-test rounded">
                                Een samenvatting van het contactmoment.
                                <a class="icon_close"></a>
                            </div>
                            <div class="tooltip-test-tip"></div>
                        </div>
                    </td>
                </tr>
[% END %]
            </tbody>
        </table>
        <div class="form-actions clearfix">
            <input type="submit" class="button button-primary right" value="Opslaan">
        </div>
    </form>
</div>
