[% RETURN IF c.user_exists -%]


	


        </div>


            

    </div>

        <div id="footer"> <div id="footer_wrapper">     <div class="container"><div class="wysiwyg box_1"><h2>Gemeentekantoor</h2>

        <p>Telefoon (026) 326 01 11</p>

        <p>Kinkelenburglaan 6<br>
        6681 BJ Bemmel</p>


        </div>

        <!--div class="wysiwyg box_2"><p><a href="https://www.lingewaard.nl/inwoners/berichten-van-de-gemeente_41621/">Berichten van de gemeente</a></p>

        <p><a href="https://publiek.pagefreezer.nl/browse/gemeente_lingewaard/Gemeente%20Lingewaard/latest/https://www.lingewaard.nl/">Archief van de website</a></p>

        <p><a href="https://www.lingewaard.nl/portal-lingewaard/vacatures_41823/">Vacatures</a></p>

        <p><a href="https://www.lingewaard.nl/inwoners/openingstijden_41810/">Openingstijden en contact</a></p>
        </div-->

        <div class="wysiwyg box_3">

        <p>Volg ons op Twitter <a href="https://twitter.com/lingewaardgem" title="Ga naar onze Twitter pagina"><img alt="Twitter" src="https://www.lingewaard.nl/templates/images/internet/social-icons/icon_twitter.png"></a>&nbsp;en Facebook&nbsp;<a href="https://www.facebook.com/lingewaardgem" title="Ga naar onze Facebook pagina"><img alt="Facebook" src="https://www.lingewaard.nl/templates/images/internet/social-icons/icon_facebook.png"></a></p>
        </div>     </div> </div> 

        <div id="footer_functionmenu">
       
        </div>
    </div>





[% INCLUDE layouts/default_helper_diffs.tt %]
[% IF !c.user_exists && !pip %]
</div>
[% END %]

</body>
</html>
