<div class="proposal-vote-bar__container">

	<zs-spinner is-loading="proposalVoteBar.isLoading()"></zs-spinner>

	<div ng-if="proposalVoteBar.getVotedValue() === '' && !proposalVoteBar.isLoading()">
		<button 
			class="vote-button"
			ng-repeat="button in proposalVoteBar.getButtons() track by button.value"
			ng-click="proposalVoteBar.handleVoteAction(button.value)"
			ng-disabled="!proposalVoteBar.isVotingPossible()"
		>
			{{button.value}}
		</button>
	</div>

	<div 
		ng-if="proposalVoteBar.getVotedValue() !== '' && !proposalVoteBar.isLoading()"
		class="proposal-vote-bar__votedbar"
	>
		<zs-icon icon-type="check"></zs-icon>
		U heeft gekozen voor <strong>{{proposalVoteBar.getVotedValue() }}</strong>.		
		<button 
			ng-click="proposalVoteBar.handleEditVote()"
			class="edit-button"
			ng-if="!proposalVoteBar.isCaseClosed()"
			ng-disabled="!proposalVoteBar.isVotingPossible()"
		>
			Wijzigen
		</button>
	</div>

</div>
