.communication {
    .pip-block-content {
        padding: 0;
        overflow: hidden;
    }

    .pip-block iframe {
        display: block;
        border: 1px solid #F2F2F2;
        width: 100%;
        min-height: 100vh;
        background-color: white;
    }

    .pip-berichten-wrapper {
        position: relative;

        &.fullscreen {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 9999;

            iframe {
                border: 0;
            }
        }
    }

    .pip-berichten-iframe-toggle {
        position: absolute;
        top: 18px;
        right: 10px;
        outline: none;

        @media only screen and (min-width: 1025px) {
            display: none;
        }
    }
}
