@import "~angular-dragula/dist/dragula.css";
@import "../../../../../../../shared/styles/variables";


.widget-favorite-link {
	display: flex;
	@include button-reset();
	color:$primary-color;
	text-decoration: underline;
	flex-grow:1;
	&:hover{
		cursor:pointer;
	}
}

.widget-favorite-list-item-icon{
	display: flex;
	.mdi{
		color:darken($accent-color,8%);
		font-size:1.5rem;
		margin-right:7px;
	}
}

.widget-favorite-suggest{
	padding-bottom:20px;
}

.widget-favorite-drag{
	margin-left:10px;
}

.widget-favorite .list-item-actions{
	margin-right:10px;
}
