<div class="tasks-table-wrapper" zs-scroll-fade>

	<div class="zs-table table">

		<zs-table-header
			columns="zsDashboardWidgetTasks.getColumns()"
			on-column-click="zsDashboardWidgetTasks.handleColumnClick($columnId)"
			class="table-row"
		>
		</zs-table-header>

		<zs-table-body
			data-rows="zsDashboardWidgetTasks.getRows()"
			data-columns="zsDashboardWidgetTasks.getColumns()"
			class="table-body"
			use-href="true"
		></zs-table-body>

	</div>

	<div class="zs-table-empty" ng-show="zsDashboardWidgetTasks.getRows().length === 0">
		Geen openstaande taken
	</div>
</div>

<div class="widget-inner-scroll-shade widget-inner-scroll-shade-top"></div>
<div class="widget-inner-scroll-shade widget-inner-scroll-shade-left"></div>
<div class="widget-inner-scroll-shade widget-inner-scroll-shade-right"></div>
