<input
    type="hidden"
    name="[% veldoptie_name %]_checkbox"
    value="1"
/>

[% FOR option IN veldoptie_opties %]
    [% option_value = option.value %]

    [% inactive = option.exists('value') && !option.active %]
    [% NEXT IF inactive && !show_inactive && !veldoptie_values.$option_value %]

    [% # create a unique ID so the label can refer to this checkbox %]
    [% checkbox_counter = (checkbox_counter || 0 ) + 1 %]
    [% checkbox_id = veldoptie_name _ 'checkbox_' _ checkbox_counter %]

    <label class="checkbox-item[% IF option.exists('value') && !option.active %]
            checkbox-item-disabled
        [% END %]" for="[% checkbox_id %]">
    <input
        type="checkbox"
        name="[% veldoptie_name %]"
        value="[% option_value | html_entity %]"
        id="[% checkbox_id %]"
        [% (veldoptie_values.$option_value.length ? ' checked="checked"' : '') %]
    />
    [% option_value | ucfirst %]</label><br/>
[% END %]
