@import '../../styles/variables.scss';

zs-case-reuse-values{    
    display: flex;
    margin: 0 -1.5rem;
}

.zs-case-reuse-values-container{
    display: flex;
    background: $info-box-background;
    padding: .25rem 2rem;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    flex-direction: column;
    align-items: center;
    width: 100%;

    .zs-case-reuse-text{
        padding: .5rem 0 0;
        @media #{$medium-large-and-up} {
            padding: 0;
        }
    }
    button.btn{
        margin: auto;
        padding: 0;
        &:hover,
        &:focus{
            background:none;
            text-decoration: underline;
        }
        @media #{$medium-large-and-up} {
            margin-left:auto;
            margin-right:0;
        }
    }
    @media #{$medium-large-and-up} {
        flex-direction:row;
    }
}

.zs-case-reuse-values-loader{
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(255,255,255,.7);
    align-items: center;
    justify-content: center;
}