<zs-ui-view-progress view-name="*" show-spinner="false">
</zs-ui-view-progress>

<div class="meeting-nav__pusher"></div>

<div 
	class="meeting-nav__container"
	ng-style="meetingNav.getBgContainerStyle()"
>

	<div class="meeting-nav__bg" ng-style="meetingNav.getContainerStyle()"></div>

	<div class="meeting-nav__title">
		<h1>{{meetingNav.getViewportTitle()}}</h1>
	</div>

	<div class="meeting-nav__tabs" ng-hide="meetingNav.getState() === 'groupList'">
		<a ng-if="meetingNav.getState() === 'meetingList' || meetingNav.getState() === 'meetingList.proposalDetail'" ui-sref-active="active" ui-sref="meetingList({ meetingType: 'open' })">
			<span>Open</span>
		</a>
		<a ng-if="meetingNav.getState() === 'meetingList' || meetingNav.getState() === 'meetingList.proposalDetail'" ui-sref-active="active" ui-sref="meetingList({ meetingType: 'archief' })">
			<span>Gearchiveerd</span>
		</a>
		<a ng-if="meetingNav.getState() === 'proposalsList' || meetingNav.getState() === 'proposalsList.proposalDetail'" ui-sref-active="active" ui-sref="proposalsList({ meetingType: 'open' })">
			<span>Open</span>
		</a>
		<a ng-if="meetingNav.getState() === 'proposalsList' || meetingNav.getState() === 'proposalsList.proposalDetail'" ui-sref-active="active" ui-sref="proposalsList({ meetingType: 'archief' })">
			<span>Gearchiveerd</span>
		</a>

		<div class="meeting-nav__tabs-slidecontainer">
			<div class="meeting-nav__tabs-slide"></div>
		</div>
	</div>

	<div class="meeting-nav__button-bar" ng-class="{'active' : !meetingNav.searchActive}">
		<button 
			ng-click="meetingNav.handleSearchToggle()"
			ng-if="meetingNav.getState() !== 'groupList'"
		>
			<zs-icon icon-type="magnify"></zs-icon>
		</button>
		<button 
			ng-click="meetingNav.toggleListMode()"
			ng-if="meetingNav.getState() !== 'groupList'"
		>
			<zs-icon icon-type="{{ meetingNav.getState() === 'proposalsList' ? 'format-align-justify' : 'view-agenda' }}"></zs-icon>
		</button>
		<zs-dropdown-menu
			data-options="meetingNav.getHeaderLinks()"
			button-icon="settings"
		>
		</zs-dropdown-menu>
	</div>

	<div 
		class="meeting-nav__search" 
		ng-class="{'active' : meetingNav.isSearchVisible() }" 
		zs-click-outside="meetingNav.handleClickOutside()" 
		on-click-outside-event="mouseup"
	>
		<div class="meeting-nav__inputcontainer">
			<zs-icon class="meeting-nav__searchicon" icon-type="magnify"></zs-icon>
			<div class="meeting-nav__searchfilterlabel" ng-repeat="item in meetingNav.getActiveFilters()">
				<span>{{item}}</span>
				<zs-icon ng-click="meetingNav.removeFilter(item)" icon-type="close"></zs-icon>
			</div>
			<input 
				class="meeting-nav__searchinput"
				ng-change="meetingNav.searchIndex()"
				ng-model="meetingNav.searchQuery"
				focus-on-condition="meetingNav.searchActive"
				type="text"
				placeholder="Filter de voorstellen..."
				ng-keyup="meetingNav.handleSearchKeyUp($event)"
			/>
			<button class="meeting-nav__clearbutton" ng-click="meetingNav.handleSearchToggle()">
				<zs-icon icon-type="close-circle"></zs-icon>
			</button>
		</div>

		<zs-suggestion-list
			suggestions="meetingNav.getSuggestions()"
			on-select="meetingNav.handleSuggestionSelect($suggestion, $event)"
			key-input-delegate="meetingNav.getKeyInputDelegate()"
			ng-show="meetingNav.getSuggestions().length && meetingNav.searchQuery.length > 0"
			class="meeting-nav__searchresults"
		>
		</zs-suggestion-list>

	</div>

</div>
