<div class="meeting-item">

	<div class="meeting-item-titlebar" ng-click="$ctrl.toggleExpand()">

		<div class="meeting-item-titlebar__title">
			{{$ctrl.getDate()}} <span ng-if="$ctrl.isMeetingList()"> - </span>
			{{$ctrl.getTitle()}}
		</div>

		<div
			class="meeting-item-titlebar__meta" 
			ng-class="{'meeting-item-titlebar__meta--small': $ctrl.getViewSize() === 'small'}"
			ng-if="$ctrl.isMeetingList()"
		>
			<ul class="meeting-item-titlebar__metaprops">
				<li ng-show="!!$ctrl.getTime()">
					<zs-icon icon-type="clock"></zs-icon>
					{{$ctrl.getTime()}}
				</li>
				<li ng-show="!!$ctrl.getLocation()">
					<zs-icon icon-type="map-marker"></zs-icon>
					{{$ctrl.getLocation()}}
				</li>
				<li ng-show="!!$ctrl.getChairman()">
					<zs-icon icon-type="gavel"></zs-icon>
					{{$ctrl.getChairman()}}
				</li>
			</ul>
		</div>

		<button ng-show="$ctrl.isGrouped()">
			<zs-icon icon-type="chevron-up" ng-class="{'expanded': $ctrl.isExpanded() }"></zs-icon>
		</button>

	</div>

	<div class="meeting-item-proposals"
		ng-if="$ctrl.isExpanded()"
	>

		<proposal-item-list
			data-proposals="$ctrl.getProposals()"
			app-config="$ctrl.appConfig()"
		>
		</proposal-item-list>

		<div 
			class="meeting-item-proposals-empty"
			ng-if="!$ctrl.getProposals().length && !$ctrl.loadingProposals"
		>
			Geen voorstellen gekoppeld.
		</div>

		<zs-spinner
			ng-if="$ctrl.loadingProposals"
			is-loading="$ctrl.loadingProposals"
		></zs-spinner>

	</div>
</div>
