[% type_fieldname = fieldname _ '_type' %]

<div>
    <div>Extern systeem:</div>
    <div>
        <select name="regels_[% type_fieldname %]">
            <option value="">-- Selecteer --</option>

            [% FOREACH interface IN ext_interfaces %]
            <option value="[% interface.key %]"
                    [% IF params.$type_fieldname == interface.key %]
                    [% interface_selected = interface.value %]
                    selected="selected"
                    [% END %]>[% interface.value.name %]
            </option>
            [% END %]

            [% FOREACH interface IN api_interfaces %]
            [% if_val = "api_" _ interface.key %]
            <option value="[% if_val %]" [% IF params.$type_fieldname == if_val %]selected="selected"[% END %]>
                Zaaksysteem API: [% interface.value %]
            </option>
            [% END %]
        </select>
    </div>
</div>

[% interface_module = interface_selected.module  %]
[% interface_config = interface_selected.get_interface_config %]

[% IF interface_module == 'buitenbeter' %]
[% message_fieldname = fieldname _ '_message' %]
[% status_fieldname = fieldname _ '_status' %]
<div>
    <div>Status:</div>
    <div>
        <select name="regels_[% status_fieldname %]">
            <option [% IF params.$status_fieldname == 'In behandeling' %]selected="selected"[% END %]>In behandeling</option>
            <option [% IF params.$status_fieldname == 'Afgehandeld' %]selected="selected"[% END %]>Afgehandeld</option>
        </select>
    </div>
</div>

<div>
    <div>Melding:</div>
    <div>
        <textarea rows="2" name="regels_[% message_fieldname %]">[% params.$message_fieldname %]</textarea>
    </div>
</div>
[% ELSIF interface_module == 'mijnoverheid' %]
    [% message_type_fieldname = fieldname _ '_message_type' %]
    <div>
        <div>Berichttype:</div>
        <div>
            <select name="regels_[% message_type_fieldname %]">
                <option [% IF params.$message_type_fieldname == 'Lopende Zaken' %]selected="selected"[% END %]>Lopende Zaken</option>
                <option [% IF params.$message_type_fieldname == 'Berichtenbox' %]selected="selected"[% END %]>Berichtenbox</option>
            </select>
        </div>
    </div>

    [% IF params.$message_type_fieldname == 'Berichtenbox' %]
       [% subject_fieldname = fieldname _ '_subject' %]
       [% message_fieldname = fieldname _ '_message' %]
       [% attachments_fieldname = fieldname _ '_attachments' %]
    <div>
        <div>Onderwerp:</div>
        <div>
            <input type="text" name="regels_[% subject_fieldname %]" value="[% params.$subject_fieldname %]">
        </div>
    </div>
    <div>
        <div>Bericht:</div>
        <div>
            <textarea rows="4" name="regels_[% message_fieldname %]">[% params.$message_fieldname %]</textarea>
        </div>
    </div>

       [% IF interface_config.allow_attachments %]
          [%# attachments_available = milestone.elementen.kenmerken.values.grep( type == 'file' ) %]
          [% attachments_available = [];
             FOREACH kenmerk IN milestone.elementen.kenmerken.values;
                IF kenmerk.type == 'file';
                   attachments_available.push(kenmerk);
                END;
             END;
           %]
           [% IF attachments_available.size %]
    <div class="row">
        <div class="large-4 column">
            <label>Bijlagen: (maximaal 2)</label>
        </div>
    </div>
              [% FOREACH kenmerk IN attachments_available %]
                 [% checked = params.$attachments_fieldname.grep(kenmerk.bibliotheek_kenmerken_id).size ? 1 : 0 %]
    <div class="row">
      <div class="large-4 column">
        <label class="checkbox-item">
          <input type="checkbox" value="[% kenmerk.bibliotheek_kenmerken_id %]" name="regels_[% attachments_fieldname %]"[% IF checked %] checked[% END %]> [% kenmerk.naam %]
        </label>
      </div>
    </div>
             [% END %]
          [% ELSE %]
    <div class="row">
        <div class="large-4 column">
            <label style="opacity: 0.35;">Bijlagen: (geen documenten beschikbaar)</label>
        </div>
    </div>
          [% END # attachments_available.size %]
       [% ELSE %]
    <div class="row">
        <div class="large-4 column">
            <label style="opacity: 0.35;">Bijlagen: (niet ingeschakeld in koppelprofiel)</label>
        </div>
    </div>
       [% END # allow_attachments %]

    [% ELSE # Berichtenbox %]
    [% status_fieldname = fieldname _ '_status' %]
    [% status_name_fieldname = fieldname _ '_status_name' %]
    <div>
        <div>Status:</div>
        <div>
            <input type="text" name="regels_[% status_fieldname %]" value="[% params.$status_fieldname %]">
        </div>
    </div>
    <div>
        <div>Omschrijving van status:</div>
        <div>
            <input type="text" name="regels_[% status_name_fieldname %]" value="[% params.$status_name_fieldname %]">
        </div>
    </div>
    [% END %]
[% END %]
