<div class="vorm-field">

	<div class="mutation-list-header form-field-meta">
		<div class="form-field-label">{{::vm.objectLabel}}</div>
	</div>

	<zs-spinner
		is-loading="vm.isLoading()"
	></zs-spinner>

	<div
		class="form-field-control-wrapper"
		ng-show="!vm.isLoading()">

		<ul class="case-mutation-list list">
			<li
				class="case-mutation list-item list-item-block"
				ng-repeat="mutation in vm.getMutations() track by mutation.$id"
				ng-classes="mutation.classes"
			>
				<div class="case-mutation-icon">
					<i
						class="case-mutation-icon-{{::mutation.type}}"
						zs-tooltip="{{::mutation.stateLabel}}"
						zs-tooltip-options="{ attachment: 'left middle', target: 'right middle', offset: { x: 10, y: 0 } }"	
					></i>
				</div>
				<div class="case-mutation-label list-item-title">
					{{::mutation.label}}
				</div>
				<zs-icon
					ng-show="!mutation.complete"
					icon-type="alert-circle"
					zs-tooltip="Niet alle kenmerken zijn compleet"
					zs-tooltip-options="{ attachment: 'right middle', target: 'left middle', offset: { x: -10, y: 0 } }"
				>
				</zs-icon>
				<div class="case-mutation-actions list-item-actions">
					<button
						class="button-reset edit"
						type="button"
						ng-click="vm.handleEditClick(mutation)"
						ng-show="!vm.disabled()&&(mutation.type==='update'||mutation.type=='create')&&(mutation.state==='pending')"
					>
						<zs-icon icon-type="pencil">
						</zs-icon>
					</button>
					
					<a ng-href="/object/{{::mutation.object_uuid}}" ng-show="!!mutation.object_uuid" target="_blank" rel="noopener">
						<zs-icon icon-type="launch">
						</zs-icon>
					</a>

					<button
						class="button-reset delete"
						type="button"
						ng-click="vm.handleRemoveClick(mutation)"
						ng-show="!vm.disabled()&&mutation.state==='pending'"
					>
						<zs-icon icon-type="close">
						</zs-icon>
					</button>
				</div>
			</li>
		</ul>

		<ul class="case-mutation-add"
			ng-if="!vm.disabled()"
		>
			<li
				class="case-mutation-add-item"
				ng-repeat="(key, value) in vm.capabilities()"
			>
				<button ng-click="vm.handleClick(key)" class="btn btn-secondary">
					{{::value.label}}
				</button>
			</li>
		</ul>

	</div>

</div>
