[% USE Scalar %]
  <div class="pip-case-message-field">
      <div class="description-wrapper">
          <p class="description">Klik op een bericht om deze te openen in <strong>Mijn berichten</strong></p>
          [% IF !case_closed %]
          <a href="/pip/berichten?new=external_message">
              <button type="button" class="material-text-button">
                  Nieuw bericht
              </button>
          </a>
          [% END %]
      </div>
      <ul class="ezra_list_of_communication_messages" data-case-uuid="[% zaak.scalar.get_column('uuid') %]" data-contact-uuid="[% betrokkene.uuid %]">
      </ul>
  </div>
  <div class="pip-case-message-placeholder">
      <p class="description">Er zijn geen berichten.</p>
  </div>
