[% USE Scalar %]


[% template_items = 0 %]

[% BLOCK template_content %]
    [% PROCESS zaak/elements/templates.tt %]
    [% PROCESS zaak/elements/view_notifications.tt %]
    [% PROCESS zaak/elements/view_subcases.tt %]
[% END %]

[% template_content = PROCESS template_content %]

[% #IF template_items > 0 %]
    [% has_side_panes = 1 %]
    <h3 class="ui-accordion-header">Sjablonen<!--  ([% template_items %]) --></h3>
    <div class="sjablonen">
        <div class="inner">
            [% template_content %]
        </div>
    </div>
[% #END %]




[% BLOCK combined_sjablonen %]
    <!--div class="sjabloon deelzaaksjabloon">
        <div class="sjabloon-icon"></div>
        <strong>Akkoord portefeuillehouder</strong><br/>
        <span>Deelzaak</span><span class="divide"> &middot; </span><span>Automatisch</span>
    </div>
    <div class="sjabloon docsjabloon">
        <div class="sjabloon-icon"></div>
        <strong>Akkoord portefeuillehouder</strong><br/>
        <span>Document</span>
    </div>
    <div class="sjabloon emailsjabloon">
        <div class="sjabloon-icon"></div>
        <strong>Akkoord portefeuillehouder</strong><br/>
        <span>E-mail</span><span class="divide"> &middot; </span><span>Automatisch</span>
    </div-->
[% END %]