[% USE JSON %]

<script type="text/zs-scope-data">
{
    "aanvrager": [% JSON.encode(zaak.aanvrager_object) %]
}
</script>

<div class="timeline clearfix">
    <div data-ng-include="'/html/timeline/timeline.html'" data-ng-controller="nl.mintlab.timeline.TimelineController" data-ng-init="initialize('case', [% zaak.id %]);[% IF c.req.params.eventId %]eventId=[% c.req.params.eventId %][% END %]">
    </div>
</div>
