
<div class="widget-header">
	<div class="widget-header-title">
		<span
			id="{{widgetId}}-title"
			aria-label="Widget {{zsDashboardWidget.getWidgetTitle()}}"
		>
			{{zsDashboardWidget.getWidgetTitle()}}
		</span>
		<zs-spinner class="spinner-small" is-loading="zsDashboardWidget.isWidgetLoading()"></zs-spinner>
	</div>

	<div class="widget-header-filter">

		<button
			type="button"
			ng-click="zsDashboardWidget.handleFilterToggleClick()"
			class="widget-header-search-button widget-header-button action-button action-button-large"
			ng-class="{'widget-header-search-button-active': zsDashboardWidget.isFilterVisible()}"
			aria-label="{{ zsDashboardWidget.isFilterVisible() ? 'Zoeken in widget sluiten' : 'Zoeken in widget' }}"
		>
			<zs-icon icon-type="{{ zsDashboardWidget.isFilterVisible() ? 'close-circle' : 'magnify' }}"></zs-icon>
		</button>

	 	<input
	 		type="text"
	 		class="widget-filter-input"
	 		ng-model="zsDashboardWidget.query"
	 		ng-model-options="{ debounce: { default: 250, blur: 0 }, updateOn: 'blur default' }"
	 		placeholder="Filter de getoonde resultaten"
			ng-show="zsDashboardWidget.isFilterVisible()"
			aria-label="Zoekterm"
		/>

	</div>

	<button
		class="widget-header-remove-button widget-header-button action-button action-button-large"
		ng-click="zsDashboardWidget.handleRemoveClick()"
		ng-show="!zsDashboardWidget.disabled()"
		aria-label="Widget verwijderen"
	>
		<i class="mdi mdi-close"></i>
	</button>
</div>		

<div class="widget-content">
	<zs-dashboard-widget-content>
	</zs-dashboard-widget-content>	
</div>
