<span class="big-title-blue">Gegevens</span>

<table class="contact-data">

	<tr ng-repeat="row in $ctrl.contactInformation">
		<th>{{row.label}}</th>
		<td ng-bind-html="row.value"></td>
	</tr>

	<tr ng-if="$ctrl.isMutable">
		<td
			colspan="2"
			class="zs-contact-information-edit"
		>
			<button class="btn btn-flat">
				Wijzig gegevens
			</button>
		</td>
	</tr>

</table>
