<div class="kenmerk-veld row">
	<div class="column large-4">
		<div class="field-label field-has-help">
			<div class="field-help">
				[% PROCESS widgets/general/dropdown.tt
					dropdown_content = 'Sta inloggen via ' _ c.get_customer_info.naam _ 'ID toe',
				    icon = 'icon-question-sign',
				    icon_type = 'icon-font-awesome'
				%]
	        </div>
	        <label>[% c.get_customer_info.naam %]ID</label>
		</div>
	</div>
	<div class="column large-8">
		<div class="field">
            <select name="[% parameter %]">
                <option value="1" [% IF value %]selected="selected"[% END %]>Actief</option>
                <option value="0" [% IF !value %]selected="selected"[% END %]>Inactief</option>
            </select>
		</div>
	</div>

</div>
