[% statussen = zaaktype.statussen.keys.nsort %]
[% FOREACH key IN statussen %]
    [% classes = [] %]
    [% value = zaaktype.statussen.$key.definitie %]
    [% IF value.status == milestone_number; classes.push('current'); %]
    [% ELSIF value.status < milestone_number; classes.push('done');%]
    [% ELSIF !value.id; classes.push('empty'); END %]
    <p class="mijlpaal [% classes.join(' ') %]">
        [% IF (value.status || 0) == milestone_number %]
            [% value.status %]. [% value.fase %]
        [% ELSE %]
        <a href="/beheer/zaaktypen/[% zaaktype_id %]/bewerken/milestones/[% value.status %]" class="ezra_zaaktype_goto">
            [% value.status %]. [% value.fase %]
        </a>
        [% END %]
    </p>
[% END %]
