[%
  widget_betrokkene_select_row_classes = ['ezra_select_betrokkene2_type'];
  IF row_classes;
    widget_betrokkene_select_row_classes = widget_betrokkene_select_row_classes.merge(row_classes);
  END;
%]

<div class="ezra_objectsearch_betrokkene zoek_veld">
  <div class="search_wrap">
    <input type="text" name="betrokkene_naam"
           class="input_large searchbox ezra_betrokkene_autocomplete"
           value="[% betrokkene_naam %]" placeholder="Typ hier uw zoekterm"
           rel="default_betrokkene_type: [% betrokkene_type %]" />
    <span class="icon icon-cancel-search" style="display: none; "></span>
    <input type="hidden" name="[% input_name %]" value="[% betrokkene_id %]" />
  </div>
</div>
