<h2>Contactinformatie</h2>
    [% IF can_betrokkene_edit %]
        [% IF betrokkene.btype == 'bedrijf' %]
            <form
                method="POST"
                action="[% c.uri_for('/betrokkene/info/update/' _ requested_bid) %]"
                class="submitWaiter zvalidate"
            >
                <input type="hidden" name="referer" value="[% c.req.uri %]" />
                <input type="hidden" name="betrokkene_type" value="[% betrokkene.btype %]" />
                [% IF betrokkene_edit %]
                    <input type="hidden" name="betrokkene_edit" value="1" />
                [% END %]
        [% ELSIF betrokkene.btype == 'natuurlijk_persoon' %]
            <form
                method="POST"
                action="[% c.uri_for('/betrokkene/info/update/' _ requested_bid) %]"
                class="submitWaiter zvalidate"
            >
                <input type="hidden" name="referer" value="[% c.req.uri %]" />
                <input type="hidden" name="betrokkene_type" value="[% betrokkene.btype %]" />
                [% IF betrokkene_edit %]
                    <input type="hidden" name="betrokkene_edit" value="1" />
                [% END %]
        [% END %]
    [% END %]

    [% IF betrokkene.btype == 'bedrijf' %]
        [% IF betrokkene_edit %]
            [% PROCESS widgets/betrokkene/bedrijf_create.tt %]
        [% ELSE %]
            [% PROCESS widgets/betrokkene/view_bedrijf.tt %]
        [% END %]
    [% ELSIF betrokkene.btype == 'natuurlijk_persoon' %]
        [% IF betrokkene_edit %]
            [% PROCESS widgets/betrokkene/natuurlijk_persoon_create.tt %]
        [% ELSE %]
            [% PROCESS widgets/betrokkene/view_natuurlijk_persoon.tt %]
        [% END %]
    [% ELSIF betrokkene.btype == 'medewerker' %]
        [% PROCESS widgets/betrokkene/view_medewerker.tt %]
    [% END %]

    [% IF can_betrokkene_edit %]
        <div class="form-actions clearfix">
            <input type="submit" value="Opslaan" class="button button-primary submit" />
        </div>
    </form>
    [% END %]
