<div class="splitter-dashboard">
    <div class="blockcontent-left">
        <div class="contact-dashboard-zaken">

            <form name="open_zaken">
                <input type="hidden" name="gm" value="1">
                <input type="hidden" name="type" value="[% betrokkene.btype %]">
                <div class="contact-dashboard-content contact-dashboard-inner-scroll">
                    <div class="contact-dashboard-header">
                        <h3>Openstaande zaken</h3>
                        <div class="filter-veld">
                        [% PROCESS widgets/general/zaken_filter.tt
                                zaken_filter_prefix = 'open_'
                            ZAKEN_FILTER_STATUS_DROPDOWN = 0 # all these cases are open anyway
                        %]
                        </div>
                    </div>
                    <div class="zaken_filter_wrapper">
                        <div class="zaken_filter_inner">
                            [% results = open_zaken %]
                            [% display_fields = open_display_fields %]
                            [% PROCESS widgets/result.tt skip_actions=1 %]
                            [% PROCESS widgets/pager2.tt %]
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="blockcontent-right">
        <div class="contact-dashboard-timeline">
            <div class="contact-dashboard-content contact-dashboard-inner-scroll">
                <div class="contact-dashboard-header">
                    <h3>Timeline</h3>
                </div>
                [% PROCESS betrokkene/timeline.tt %]
            </div>
        </div>
    </div>
</div>
