[% USE Dumper %]
[% USE Date(format = '%d %M %y', locale = 'nl_NL') %]

[% UNLESS woz_objects.count %]
    [% RETURN %]
[% END %]

    [% woz_id_key = 'WOZ-objectnummer' %]
    [% IF woz_objects.count > 1 && !c.req.params.woz_object_id %]
        <div class="woz-intro">
            [% woz_intro_text %]
        </div>
        <table>
            <thead>
                <tr>
                    <th>Adres</th>
                    <th>Woonplaats</th>
                    <th>Postcode</th>
                    <th>Peiljaar</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
        [% WHILE(woz_object_row = woz_objects.next) %]
                [% woz_object = woz_object_row.as_hashref %]
                <tr>
                    <td>
                        [% IF pip %]
                            <a href="/pip/woz?woz_object_id=[% woz_object.$woz_id_key %][% IF c.req.params.woztest %]&woztest=[% c.req.params.woztest %][% END %]">
                        [% ELSE %]
                            <a href="/beheer/woz/object/[% woz_object_row.id %]">
                        [% END %]
                            [% woz_object.Straatnaam %] 
                            [% woz_object.Huisnummer | format('%0.0f') %] 
                            [% woz_object.Huisletter %]
                            [% woz_object.Huisnummertoevoeging %]
                        </a>
                    </td>
                    <td>[% woz_object.Woonplaatsnaam %]</td>
                    <td>[% woz_object.Postcode %]</td>
                    <td>[% woz_object.Waardepeildatum %]</td>
                    <td>[% IF woz_object.aanduiding_eigenaar_gebruiker == 'E' %]Eigenaar[% ELSE %]Gebruiker[% END %]</td>
                </tr>
           
        [% END %]
             </tbody>
        </table>
    [% END %]



[% BLOCK disabled %]
        [% IF c.req.params.woz_object_id %]
            <div class="woz-crumb">
            [% IF pip %]
                <a href="/pip/woz">
            [% ELSE %]
                <a href="/betrokkene/[% betrokkene.ex_id %]?gm=[% c.req.params.gm %]&type=[% c.req.params.type %]#tab-wgt-woz">                    
            [% END %]
            [%# woz_object = woz_objects.find({object_id => c.req.params.woz_object_id}) %]
            [% IF woz_object %]
                [% woz_object_data = woz_object.as_hashref %]
            [% END %]                
            &laquo; Terug naar overzicht</a>
            </div>
        [% ELSE %]
            [% woz_object_data = woz_objects.first.as_hashref %]
        [% END %]

[% END %]