<div role="dialog" aria-live="polite" aria-labelledby="contextual-action-form-header" class="contextual-action-form-header">
	<div class="contextual-action-form-title" id="contextual-action-form-header">
		{{::vm.action().label}}
	</div>
	<button aria-label="Sluiten" class="contextual-action-form-close" ng-click="vm.onClose($event)">
		<zs-icon icon-type="close"></zs-icon>
	</button>
</div>

<div class="scroll-container">
	<zs-transclude></zs-transclude>
</div>
