// Media Query Ranges
$small-screen-up: 601px !default;
$small-medium-screen-up: 769px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;

$small-screen: 600px !default;
$small-medium-screen: 768px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;
$xl-screen:1350px !default;
$xxl-screen:1600px !default;

$medium-only: "only screen and (min-width : #{$small-screen}) and (max-width: #{$medium-screen})" !default;

$medium-and-up: "only screen and (min-width : #{$small-screen})" !default;

$medium-large-and-up: "only screen and (min-width : #{$small-medium-screen-up})" !default;

$large-and-up: "only screen and (min-width : #{$medium-screen})" !default;

$large-only: "only screen and (min-width : #{$large-screen})" !default;

$xl-only: "only screen and (min-width : #{$xl-screen})" !default;

$xxl-only: "only screen and (min-width : #{$xxl-screen})" !default;

$small-and-down: "only screen and (max-width : #{$small-screen})" !default;

$small-medium-and-down: "only screen and (max-width : #{$small-medium-screen})" !default;

$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
