<div class="object-list-item">
	<zs-icon icon-type="calendar"></zs-icon>
	<span class="calendar-display-text">{{$ctrl.getLabel()}}</span>
	<button
		class="button-reset calendar-display-text-button-close"
		type="button"
		ng-click="$ctrl.handleRemoveClick()"
		ng-disabled="$ctrl.isLoading()"
	>
		<zs-icon icon-type="close" ng-show="!$ctrl.isLoading()"></zs-icon>
		<zs-spinner class="spinner-tiny" is-loading="$ctrl.isLoading()"></zs-spinner>
	</button>
</div>
