[% process_template = 'form/' _ c.config.gemeente_id _ '/header.tt' %]
[% PROCESS $process_template %]

<div class="block">
    <div class="header"><h1>[% casetype_node.titel %]</h1></div>
    <div class="blockcontent">

        <h2>
            <i class="icon-warning-sign icon-font-awesome"></i>
            Het door u verzochte product of dienst is <br/>momenteel offline in verband met onderhoudswerkzaamheden.
        </h2>


        <a href="[% c.get_customer_info.gemeente_portal %]" class="button button-primary">Terug</a>


    </div>
</div>

[% process_template = 'form/' _ c.config.gemeente_id _ '/footer.tt' %]
[% PROCESS $process_template %]
