
    [% IF zaaktype_node.contact_info_intake && aanvraag_trigger == 'extern' %]
        <div class="stap-content stap-content-multiple">
            <div class="stap-tekst">
                <h3>Contactgegevens</h3>
            </div>

        <div class="form">
        
            <div class="row kenmerk-veld">
                <div class="column large-4">
                    <div class="field-label field-has-help">
                        <div class="field-help">
                            [% PROCESS widgets/general/dropdown.tt
                                icon = 'icon-question-sign',
                                icon_type = 'icon-font-awesome',
                                dropdown_content = 'E-mailadres van aanvrager'
                            %]
                        </div>
                        <label class="titel">
                            E-mailadres
                        </label>
                    </div>
                </div>
                <div class="column large-8">
                    <div class="field">
                        <input class="veldoptie_text" type="text" name="npc-email" value="[% aanvrager.email %]">
                    </div>
                    <div class="validator rounded">
                        <div class="validate-tip"></div>
                        <div class="validate-content rounded">
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
                
            <div class="row kenmerk-veld">
                <div class="column large-4">
                    <div class="field-label field-has-help">
                        <div class="field-help">
                            [% PROCESS widgets/general/dropdown.tt
                                icon = 'icon-question-sign',
                                icon_type = 'icon-font-awesome',
                                dropdown_content = 'Telefoonnummer van aanvrager'
                            %]
                        </div>
                        <label class="titel">
                            Telefoonnummer
                        </label>
                    </div>
                </div>
                <div class="column large-8">
                    <div class="field">
                        <input type="text" class="veldoptie_text" name="npc-telefoonnummer" value="[% aanvrager.telefoonnummer %]">
                    </div>
                    <div class="validator">
                        <div class="validate-tip"></div>
                        <div class="validate-content rounded">
                            <span></span>
                        </div>
                    </div>
                    
                </div>
            </div>
                
            <div class="row kenmerk-veld">
            
                <div class="column large-4">
                    <div class="field-label field-has-help">
                        <div class="field-help">
                            [% PROCESS widgets/general/dropdown.tt
                                icon = 'icon-question-sign',
                                icon_type = 'icon-font-awesome',
                                dropdown_content = 'Mobiel nummer van aanvrager'
                            %]
                        </div>
                        <label class="titel">Mobiel nummer</label>
                    </div>
                </div>
                
                <div class="column large-8">
                    <div class="field">
                        <input type="text" class="veldoptie_text" name="npc-mobiel" value="[% aanvrager.mobiel %]">
                    </div>
                    <div class="validator rounded">
                        <div class="validate-tip"></div>
                        <div class="validate-content rounded">
                            <span></span>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
        <input type="hidden" name="stepfields-contactgegevens"
        value="npc-telefoonnummer,zt_automatisch_behandelen,npc-mobiel,npc-email" />
        [% END %]
