.line-gradient{
    width: 3px;
    height: 24px;
    background: url('/images/icons-timeline.png') -110px -37px no-repeat;
    position: absolute;
    top: 0;
    left: 9px;
    z-index: 1;
}

.timeline{
    background: #fff;
    padding: 25px 25px 0 25px;
    .spine {
        height: 100%;
        left: 350px;
        position: absolute;
        width: 29px;
        z-index: 1;
    }
    .pointer {
        background: url(/images/icons-timeline.png) -132px -42px no-repeat;
        width: 25px;
        height: 15px;
        position: absolute;
        top: 20px;
        left: 7px;
        right: auto;
    }
    .timeline-content{
        float: left;
        position: relative;
    }
}

.timeline-inner{
    margin: 0;
    position: relative;
    background: url("/images/line.png") repeat-y scroll 9px top transparent;
    padding: 25px 20px 20px 0;
    position: relative;
    > .left + li > .pointer {
      top: 40px;
    }
    &:before,&:after{
       width:3px;
        height:24px;
        position: absolute; 
        z-index:1;
        content:'';
        left:9px;
    }
    &:before{
        top:0;
        background-image: -webkit-linear-gradient(top, white, rgba(255,255,255,0));
        background-image:         linear-gradient(to bottom, white, rgba(255,255,255,0))
    }
    &:after{
        bottom:0;
        background-image: -webkit-linear-gradient(bottom, white, rgba(255,255,255,0));
        background-image:         linear-gradient(to top, white, rgba(255,255,255,0))
    }
}

.timeline-inner,
.timeline li.timeline-item{
    list-style-type: none;
}

.timeline-loader .icon-spinner-timeline{
    background:url(/images/spinner-timeline.gif) no-repeat 0 0;
}

.timeline-loader > i { visibility: hidden; }
.timeline-loader > button{
    display: none;
}

.timeline-loader-loading > i { visibility: visible; }