<div class="case-pause-application-title">
	<zs-icon icon-type="information-outline"></zs-icon>
	<div class="case-pause-application-message" ng-bind-html="$ctrl.messageHtml">
	</div>
	<button
		data-name="case-pause-application-continue"
		ng-if="!!$ctrl.pauseApplicationData.start_case"
		class="case-pause-application btn btn-flat"
		ng-click="$ctrl.handleResumeClick()"
		type="button"
	>
		Door naar {{$ctrl.pauseApplicationData.start_case.prefill.zaaktype.titel}}
	</button>
</div>
