<form method="POST" class="zvalidate" action="[% c.uri_for('/zaak/' _ zaak.nr _ '/update/afhandelen') %]">
<input type="hidden" name="update" value="1">
<div class="dialog-inner">
    <label>Reden afhandeling</label>
    <input type="text" class="input_large" name="reden"/><span class="validator"></span>
</div>

[% PROCESS widgets/zaak/zaak_result.tt %]

<br/>
<br/>
<br/>
<br/>

<div class="form-actions">
    <input type="submit" value="Afhandelen" class="button button-primary" id="dialog-submit"/>
</div>
</form>
