@import "partials/settings";
@import "partials/dependencies";
@import "partials/compass/compass-box-sizing";

.crud{
    font-size:1em;
    white-space: nowrap;
    position: relative;
    .table-header {
        background:$background-color-table-header;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-align: start;
        white-space: normal;
        .table-cell-header {
            border-top:1px solid #ccc;
            border-bottom:1px solid #ccc;
            vertical-align: middle;
            @include box-sizing(border-box);
            padding-top:0;
            padding-bottom:0;
            .crud-table-column-header-label-button{
                height: $crud-table-header-height;
                width:100%;
                text-align: left;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 100%;
                vertical-align: middle;
                @include box-sizing(border-box);
                > span{
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width:100%;
                }
                &:hover{
                    background:rgba(0,0,0,0.08);
                    @include box-sizing(border-box);
                    text-decoration: none;
                    color:#000;
                } 
                .column-label{
                    display: inline-block;
                }
            }
        }
    }
    .table-header.crud-header .crud-table-column-header-label-button{
        padding:11px .5em;
        position: relative;
        .column-sort{
            font-size:.6em;
            position:relative;
            top:-6px;
        }
    }
    &.crud-column-managed .table-header.crud-header{
        .crud-table-column-header-label-button{
            padding:11px 1.7em 11px .5em;
        }
        .crud-table-column-header-locked .crud-table-column-header-label-button{
            padding:12px .5em;
        }
    }
}

.crud .table-cell {
  border-bottom: 1px solid #ddd;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.crud .table-cell {
  border-bottom: 1px solid #ddd;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-cell.crud-table-item-cell.crud-table-value-cell-actions {
  overflow: visible;
}

.crud-table{
    position:relative;
    table-layout: auto;
    border-right:1px solid #ccc;
    border-left:1px solid #ccc;
    border-bottom:1px solid #ccc;
     @include box-sizing(border-box);
    //border-collapse: collapse;
}

.crud-table-item-cell-content {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    max-width: 100%;
    vertical-align: middle;
}

.crud-table-item-row {
    &:hover{
        background:$crud-header-color;
        color: inherit;
    }
    &:focus{
        background: $crud-header-color;
        outline: none;
    }
    &.crud-table-item-row-selected {
        background: $crud-selected-color;
        .crud-table-item-cell {
            border-bottom: 1px solid $crud-selected-border-color;
        }
    }
    &.crud-table-item-row-error{
        background:#FFD8D8;
        &:hover{
            background:darken(#FFD8D8,2%);
        }
    }
}

.crud-table-item-row-disabled{
     > .table-cell > *{
        opacity:.2;
    }
    &.crud-table-item-row:hover{
        background:white;
        cursor: default;
    }
    .crud-item-action-menu-open-button{
        display: none;
    }
}

.crud-table-item-row-disabled{
     > .table-cell > *{
        opacity:.2;
    }
    &.crud-table-item-row:hover{
        background:white;
        cursor: default;
    }
    .crud-item-action-menu-open-button{
        display: none;
    }
}

.crud-table-item-row[href] {
    cursor: pointer;
    text-decoration: none;
    &:hover {
        color: black;
    }
}

.crud-table-column-header {
    padding: 1em 0;
    &:hover{
        .crud-table-column-header-remove{
            display: block;
        }
    }
}

.crud-table-column-header-inner{
    position:relative;
}

.crud-table-column-header-remove-button {
    background:none;
    width: 20px;
    height: 100%;
    cursor: pointer;
    padding:0;
    text-align: center;
    .mdi{
        margin-right:0;
        font-size:1em;
        opacity:.6;
    }
    &:hover{
        background:#ddd;
        i{
            color:#000 !important;
            opacity:1;
        }
    }
}

.crud-table-item-cell {
    padding: 1em 0.5em;
    vertical-align: top;
}

.crud-table-column-header-label-button {
    background:none;
    font-weight: 500;
}

.crud-actions {
    display: table-caption;
    height: 48px;
    border-top:1px solid #ccc;
    border-bottom: 1px solid #ccc;
    position:absolute;
    top:0;
    width:100%;
    padding:0 10px 0 0;
    @include box-sizing(border-box);
    .crud-table-select-cell,
    .crud-table-action-cell {
        display: table-cell;
        vertical-align: middle;
        height: 48px;
    }
    .crud-action{
        margin-right:5px;
    }
    .btn-secondary{
        background: #fff;
        margin-top:-2px;
        &:hover{
            background:#f6f6f6;
        }
        &:focus{
            background:$primary-color;
        }
    }
}

.crud-action-empty{
    padding:5px 10px;
    color:#bbb;
    font-size:.9em;
}

.crud-single-select{
    .crud-actions{
        display: none;
    }
    .crud-table-item-row-selected,
    .crud-table-item-row:focus,
    .crud-table-item-row:hover{
        background: #fff;
    }
    .table-header .table-cell-header .crud-table-column-header-label-button:hover{
        background:none;
    }
}

.crud-table-select-cell{
    text-align: center;
    width: 40px !important;
}

.crud-table-column-header-case_status{
    width:25px !important;
}

.crud-table-value-cell-case_progress_status{
    .crud-table-item-cell-content{
        max-width:inherit;
    }
}

.crud-table-column-header-case_progress_status{
    width:100px !important;
}

.crud-table-column-header-case_days_left{
    width:57px !important;
}

.crud-table-column-header-actions{
    width:60px !important;
}

.crud-table-column-header-notifications{
    width:20px !important;
}

.crud-table-value-cell-notifications{
    text-align: center;
    .crud-table-item-cell-content{
        width:18px;
        height:18px;
    }
}

.crud-table-action-cell > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    > li {
        display: inline-block;
        margin: 0;
        padding: 0;
    }
}

.crud-table-action-cell{
    padding:0;
}

.crud .row {
    display: inline-block;
    .column {
        display: inline-block;
        width: auto;
    }
}

.crud .form-fieldset{
    padding:0;
}

.crud .form-fieldset-children {
    .form-field{
        margin:0 15px 15px 0;
    }
}

.crud .form-field-button-list{
    display: none;
}

.crud .form-field {
    display: inline-block;
    width: auto;
    border: 0;
    padding-bottom: 0;
    padding-top: 0;
    vertical-align: middle;
}

.crud-select-all-wrapper{
    height:50px;
    .crud-table-select-cell{
        border-bottom:none;
    }
    .table-row{
        height:33px;
    }
    .table-cell{
        position:absolute;
        top:51px;
        width:100%;
    }
}

.crud-select-all button{
    font-size:1em;
}

.crud-select-all {
    width: 100%;
    text-align: left;
    background-color: #f9fccb;
    border: 1px solid #c9c441;
    border-right:none;
    border-left:none;
    line-height: 32px;
    font-weight: normal;
    font-size: 12px;
    position: absolute;
    margin-top:-1px;
    padding-left:15px;
}

.crud-select-all-button {
    background: none;
    text-decoration: underline;
    font-weight: inherit;
}

.crud-loader {
    background: rgba(255,255,255,0.65);
    top: 0;
    left: 0;
    right: auto;
    bottom: auto;
    position: absolute;
    z-index: 1;
    opacity: 0;
    -webkit-transition: opacity 200ms ease-out;
    -moz-transition: opacity 200ms ease-out;
    -ms-transition: opacity 200ms ease-out;
    -o-transition: opacity 200ms ease-out;
    transition: opacity 200ms ease-out;
}

.crud-loading .crud-loader {
    opacity: 1;
    right: 0;
    bottom: 0;
}

.widget-search .crud-loader{
    display: none;
}

.crud-column-popup-menu.popup-menu{
    width:300px;
    right:0;
    left:auto;
}

.crud-column-popup-menu-query {
    padding: 10px 15px 10px;
    position: relative;
    .spot-enlighter-loading {
        right: 19px;
    }
}

.crud-column-popup-menu-query-input {
    width: 100%;
}
 
.crud-column-popup-menu-list {
    max-height:400px;
    overflow:auto;
}

.crud-column-popup-menu .spot-enlighter-loading {
    visibility: hidden;
}

.crud-column-popup-menu-loading .spot-enlighter-loading {
    visibility: visible;
}

.zs-popup-menu .crud-column-popup-menu-list {
    position: static;
    width: 100%;
}

.popup-menu .crud-column-popup-menu-list-item-button {
    .crud-column-popup-menu-list-item-button-inner{
        display: flex;
        white-space: normal;
    }
    .crud-column-popup-menu-list-item-button-label {
        display: block;
        word-wrap: break-word;
        overflow: hidden;
    }
    .crud-column-popup-menu-list-item-button-description {
        display: block;
        color: #999;
    }
}

.mdi.crud-column-popup-menu-list-item-button-icon {
    visibility: hidden;
    font-size:1.2rem;
}

.crud-column-popup-menu-list-item-button-label,
.crud-column-popup-menu-list-item-button-description {
    padding-left:10px;
    display: inline-block;
}

.crud-column-popup-menu-list-item-active .crud-column-popup-menu-list-item-button-icon {
    visibility: visible;
}

.crud-item-action-menu-open-button.button{
    font-size:.9em;
}

.crud-item-action-menu-list{
    > .crud-action{
        > .action-menu-dropdown{
            > .action-menu-dropdown-button{
                width:100%;
                padding: 5px 15px 5px 23px !important;
                background:none;
                @include border-radius(0);
                border:none;
                &:hover{
                    @include box-shadow(none);
                    background-color:$primary-color;
                }
                &:active{
                    top:0;
                    @include box-shadow(none);
                }
            }
        }
    }
    .dropdown-toggle:after{
        content: "\f0d9";
        font-family: "FontAwesome";
        margin-left: 0;
        position: absolute;
        left: 11px;
        top: 50%;
        margin-top: -7px;
    }
}

.zs-popup-menu-open .action-menu-dropdown-list {
    display: block;
}

.zs-popup-menu-closed .action-menu-dropdown-list {
    display: none;
}

.zs-popup-menu .crud-item-action-menu-list {
    right: 0;
    left: auto;
    top: auto;
    bottom: auto;
    position: fixed;
}

.crud-table-wrapper {
    overflow-x: auto;
    position:relative;
}

.crud .progress {
    min-width: 100px;
}

.crud-table-value-cell-actions{
    .crud-table-item-cell-content{
        overflow: visible;
    }
}

.crud-table-value-cell-actions .action-menu-dropdown-list {
    left: -100%;
    top: 0;
}

.crud-table-item-row-empty.no-results{
    padding:15px;
    display: block;
    text-align: left;
    border:none;
    &:hover{
        background: transparent;
        color:#bbb;
    }
}

.crud-pagination-top{
    display: none;
}

.crud.crud-loading{
    .no-results{
        text-indent: -9999px;
    }
}

.crud-table-column-header-locked[data-zs-sortable]:hover {
  cursor: default;
}

.crud-title{
    font-size:1.2em;
    font-weight: bold;
    margin-bottom:8px;
}

.crud-filters{
    margin-bottom:12px;
    .form-field_label{
        display: none;
    }
    .form-field-input, .form-field_label{
        width:auto;
    }
}

.crud-table-item-row:last-child{
    .crud-table-item-cell{
        border-bottom: none;
    }
}
